<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="main-header">
        <div class="log">
            <a href="#"><img src="./img/2021-04-05_13-09.png" alt="text"></a>
        </div>
        <div class="head-icon">
            <div class="header-icon">
                <a href="#"><i class="fas fa-rss"></i></a>
            </div> 
            <div class="header-icon">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="header-icon">
             <a href="#"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="header-icon">
                <a href="#"><i class="fab fa-pinterest"></i></a>
            </div>
        </div>
    </div>

    <div class="main-body">
        <div class="left-content">
         <div class="search-bar">
            <p>SEARCH FREEBIE</p>  
            <form class="search" >
               <span><i class="fas fa-search"></i></span><input  type="text" name="search" placeholder="Type and Hit Enter">
            </form>
         </div>

         <div class="items">
             <h5>Browse Catergory</h5>
             <div class="list">
                <h2>
                    <span><i class="psd fas fa-dot-circle"></i></span>
                    <a href="#">Free PSD</a>
                    (1,226)
                </h2>
                <ul class="list-items">
                    <li>
                        <a href="">+ Icons</a> 
                        (294)
                    </li>
                    <li>
                        <a href="">+ Mockups</a> 
                        (331)
                    </li>   
                    <li>
                        <a href="">+ UI kits</a> 
                        (152)
                    </li>   
                    
                    <li>
                        <a href="">+ Webstie Templates</a> 
                        (181)
                    </li>
                </ul>
                <h2>
                    <span><i class="Illu fas fa-dot-circle"></i></span>
                    <a href="#">Illustrate Freebies</a>
                    (118)
                </h2>
                <h2>
                    <span><i class="sketch fas fa-dot-circle"></i></span>
                    <a href="#">Sketch Freebies</a>
                    (1,226)
                </h2>
                <h2>
                    <span><i class="fonts fas fa-dot-circle"></i></span>
                    <a href="#">Free Fonts</a>
                    (1,226)
                </h2>
                <h2>
                    <span><i class="code fas fa-dot-circle"></i></span>
                    <a href="#">Code stuff</a>
                    (410)
                </h2>
                <ul class="list-items">
                    <li>
                        <a href="">+ HTML Website Templates</a> 
                        (90)
                    </li>   
                    <li>
                        <a href="">+ HTML UI kits</a> 
                        (14)
                    </li>   
                </ul>
                <h2>
                    <span><i class="more fas fa-dot-circle"></i></span>
                    <a href="#">Free Stock Photos</a>
                </h2>
                <h2>
                    <span><i class="more fas fa-dot-circle"></i></span>
                    <a href="#">Landing Page Inspirations</a>
                </h2>
                <h2>
                    <span><i class="more fas fa-dot-circle"></i></span>
                    <a href="#">Submit Freebie</a>
                </h2>
                <h2>
                    <span><i class="more fas fa-dot-circle"></i></span>
                    <a href="#">Advertise</a>
                </h2>
             </div>
             <div class="adver">
               <a href="#">  <img src="./img/adver.png" alt="text"></a>
             </div>
         </div>
        </div>

        <div class="middle-content">
            <div class="img-1">
                <img src="./img/mid.png" alt="text">
            </div> 

            <div class="content">
                <ul class="nav">
                    <li>
                        <a href="#">HOME  </a>
                        <span>></span>
                    </li>
                    <li>
                        <a href="#">FREE PSD  </a>
                        <span>></span>
                    </li>
                    <li>CREATIVE DESIGN AGENCY  TEMPLATE</li>
                </ul>
                <h1>Creative Design Agency template</h1>
                <p>
                    <span><i class="psd fas fa-dot-circle"></i></span>
                    PSD
                </p>
            </div>
        </div>
    </div>
</body>
</html>